body,
header,
main,
footer {
    border: 1px brown solid;
    margin: 0, 5rem;
    padding: 0%;
}

.logo-container {
    height: 30px;
    background-color: #e2d1c3;

}

.cafes-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    background-color: rgb(238, 214, 197);
    justify-content: flex-start;
}

.cafes-container > div {
    width: 110px;
    text-align: center;
    line-height: normal;
    font-size: medium;
}

.cafes-varios {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/granos-cafe.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    align-content: space-between;
    

}


.cafes-varios > div {
    display: grid;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 80px;
    padding: 50px;
    
    
}
